 <div class="contents">
    <div class="comments">
    <div class="top_post">
      <p>My Final Post <span>(reduser.net)</span><br>
      <small>90 points by cwilson 1 hour ago | 23 comments</small>
      </p>
      
      <form method="post" action="/r">
      <textarea name="add comment" rows="6" cols="60"></textarea>
      <br>
      <br>
      <input type="submit" value="add comment">
      </form>
      
    </div>

      <ul class="numbers">
        <%- 30.times do -%>  
          <li>
            <small class="comments_small">threeseed 0 minutes ago | link | parent | on: On Hyperloop</small>
            <br><br>
          <span class="actual_comment"> For me the various engineering streams are just as different from each other as from every other non-engineering discipline. There is no way a mechanical engineer could work in the electronics, IT or biochemical engineering fields. </span>
          </li>
          <br>
        <%- end -%>
      </ul>
     </div>
   </div>   