 <div class="contents">
    <div class="comments">
      <ul class="numbers">
        <%- 30.times do |number| -%>  
          <li>
            <span class ="digit"><%= number+1 %>
            </span> 
            <a href="#">
            New UI Pattern: Website Loading Bars <span class="web_link">(usabilitypost.com)</span></a>
            <br>

          <small class="home_small"> 119 points by fridek 3 hours ago | 29 comments</small>
          </li>
        <%- end -%>
      </ul>
     </div>
   </div>   