@import 'bourbon';
@import 'normalize';
@import  'home';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 
 */

 

/*.nav li {
    border:20px;
    width:85%;
    background-color: #ff6600;
    display: inline;
    margin:5px;
    padding: 0;
    list-style: none;
    padding:10px;
    }
*/
body{
  margin:0px;
  /*width:80%;
  height:1200px;*/
}
#main{
  margin: 8px auto;
  
  width:80%;
  background-color:#FEF1E1;
}
.navigation-container{
border-bottom: 5px solid #ff6600;
background: #ff6600;


}
#main > .navigation-container > .nav > li{
  display:inline-block;
  margin:3px;
  /*text-align: center;*/
  list-style: none;
  text-decoration: none;
  line-spacing: 10px;
}


.nav{
  padding:0;
  margin:0;
  list-style: none;

}
/*.navigation-container > .nav >*/ .login {
  float: right;
  margin-right: 5px;
  padding-top: 5px;
  font-family: Verdana;
  font-size: 10pt;
}
.border {
  font-family: Verdana;
  font-size: 10pt;
}
.title {
  font-weight:bold;
  font-famili: Verdana;
  line-height: 22pt;

}
a:link {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color:black;
  text-decoration: none;
}

.logo{
  border: 1px solid white;
  display:inline-block;
  font-weight:bold;
  padding: 2px;
  margin: 2px 0 0 0 0;
  line-style:none;
  color: white;
  font-size: 10pt;
}


#main > .contents{
  
  width:100%; 
  /*margin-top: -18px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-color:#FEF1E1;*/
}
.top_post p {
  color: black;
  font-size: 10pt;
  font-family:Verdana;
}
.top_post span {
  color: #828282;
  font-size: 7pt;
  font-family: Verdana;
}
.top_post small {
  color: #828282;
  font-size: 7pt;
  font-family: Verdana;
}
.search_container form{
  rows:5px;
  border: 1px;
}
.numbers {
  list-style:none;
  padding: 5px;
}

.comments a{
  color: black;
  font-size: 12px;
  font-family: Verdana;
}
.home_small{
  color: #828282;
  font-size: 9px;
  margin-left: 12px; 
}
.comments_small {
  color: #828282;
  font-family: Verdana;
  font-size: 8pt;
}
.actual_comment {
  color: rgb(0, 0, 0);
  margin: 5px;
  font-family: Verdana;
  font-size: 9pt;
}
.digit {
  font-size: 11px;
  color:#828282;
}
.web_link {
  font-size: 10px;
  color: #828282;
}

 #main > .footer{
  height:200px;
  width: 100%;
  margin:0;
  border-top:2px solid #ff6600;
  /*background-color:#FEF1E1;*/
}
.footer > .bottom > li{
  display:inline;
  margin:3px;
  text-align: center;
  list-style: none;
  text-decoration: none;
  line-spacing: 10px;
}

 .bottom {
  text-align:center;
}

.bottom_search {
  text-align:center;
}

 .search_edit {
  color: rgb(130,130,130);
  text-align:center;
}





